<div class="background">


<div class="text-center ">
 

    @*<img src="https://cdn.shopify.com/s/files/1/0210/2968/3222/articles/trending_products_to_sell_in_India_ad8fc9e0-5052-44bf-bd93-7bec4335f5ee.jpg?v=1647462399    " />*@
    @if (User.Identity.IsAuthenticated)
    {
        <p class="" style="color:white; margin-left: 1rem; margin-top: 5rem;">Welcome to Premium Basket @User.Identity.Name.</p>
    }
  @*  else
    {
        <p>Welcome to @AppSettings.Title.</p>
    }*@
</div>
</div>